:root {
    --card_shadow: box-shadow: 0px 3.051px 15.256px 0px rgba(238, 238, 238, 0.50);
    --list_shadow_init: 0 0 0 0 #174feb inset;
    --list_shadow_hover: 0 0 4px 0 #174feb inset;
    --primary_color: #174FEB;
    --light-primary: #d1dcfb;
    --green_color: #17C653;
    --green_color_hover: #0b9c3e;
    --Yellow_color: #FFC300;
    --orange-color: #E69C24;
    --light-orange: #f9eeda;
    --red_color: #F31A41;
    --gray_color: #AAAAAA;
    --light-gray_color: #DDDDDD;
    --Purple_color: #A01AF3;
    --royal_blue_color: #1AA5F3;
    --light_green: #d1f4dd;
    --padding30: 25px;
    --white_color: #ffffff;
    --radius10: 10px;
    --gap20: 10px;
}

.card_body {
    padding: var(--padding30);
    background-color: var(--white_color);
    border-radius: var(--radius10);
    -webkit-border-radius: var(--radius10);
    -moz-border-radius: var(--radius10);
    -ms-border-radius: var(--radius10);
    -o-border-radius: var(--radius10);
    box-shadow: var(--card_shadow);
    overflow: hidden;
}

.inner {
    padding: 0;
}

.five_box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.card_heading_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: flex-start;
}

.card_heading_row strong {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    display: block;
    width: calc(100% - 172px);
    width: -o-calc(100% - 172px);
    width: -moz-calc(100% - 172px);
    width: -webkit-calc(100% - 172px);
}

.card_heading_row.have_three strong {
    width: calc(100% - 282px);
    width: -o-calc(100% - 282px);
    width: -moz-calc(100% - 282px);
    width: -webkit-calc(100% - 282px);
}

.card_heading_row small {
    color: #707070;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
}

.card_booking_row {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.card_booking_row small {
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin: 0 0 4px 0;
}

.card_booking_row strong {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: #000;
    display: block;
}

/*************** tab componant start *******************/
ul.tab_row {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    padding: 0;
    margin: 0;
}

ul.tab_row li {
    min-width: 84px;
    padding: 3px 20px;
    text-align: center;
    color: #000000;
    background-color: #dddddd;
    font-size: 14px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

ul.tab_row li.active {
    background-color: var(--primary_color);
    color: #fff;
}

ul.tab_row li:first-child {
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}

ul.tab_row li:last-child {
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}

ul.tab_new {
    margin: 0 -30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

ul.tab_new li {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 20px;
    position: relative;
    cursor: pointer;
}

ul.tab_new li.active:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2px;
    background-color: var(--primary_color);
    left: 0;
}

ul.tab_new li.active {
    color: var(--primary_color);
}

/*************** tab componant end *******************/
/*************** god_view componant start *******************/
.admin_card_row {
    gap: var(--gap20);
}

.admin_card_row.god_view.five_box {
    grid-template-columns: repeat(5, 98px);
    overflow-x: auto;
}

.admin_card_row.god_view li {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #DBDFE9;
    padding: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    min-height: 100%;
    min-width: 98px;
}

.admin_card_row.god_view li.active:after {
    content: '';
    width: 100%;
    height: 9px;
    background-color: var(--primary_color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.admin_card_row.god_view li[status="all"].active:after {
    background-color: var(--primary_color);
}

.admin_card_row.god_view li[status="available"].active:after {
    background-color: var(--green_color);
}

.admin_card_row.god_view li[status="pickup"].active:after {
    background-color: var(--Yellow_color);
}

.admin_card_row.god_view li[status="arrived"].active:after {
    background-color: var(--royal_blue_color);
}

.admin_card_row.god_view li[status="ongoing"].active:after {
    background-color: var(--orange-color);
}

.admin_card_row.god_view li i {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.admin_card_row.god_view li i img {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 0;
}

.admin_card_row.god_view li small {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: block;
    text-align: center;
}

.admin_card_row.god_view {
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

#god_view_map {
    border: 1px solid #E8E8E8;
    min-height: 500px;
    margin-top: 20px;
}

#Service_Total {
    min-height: 329px;
}

/*************** god_view componant start *******************/
.overlay-map-helper {
    position: relative;
    background-color: #f8f8f8;
    border-radius: var(--radius10);
    -webkit-border-radius: var(--radius10);
    -moz-border-radius: var(--radius10);
    -ms-border-radius: var(--radius10);
    -o-border-radius: var(--radius10);
}

.overlay-map-helper .card_body {
    position: absolute;
    height: 550px;
    z-index: 1;
    left: 24px;
    top: 24px;
}

#google-map {
    min-height: 602px;
    border-radius: var(--radius10);
    -webkit-border-radius: var(--radius10);
    -moz-border-radius: var(--radius10);
    -ms-border-radius: var(--radius10);
    -o-border-radius: var(--radius10);
}

/*************** list componant start *******************/
ul.listing_style1 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 264px;
    overflow-y: auto;
    margin-right: -24px;
}

/* Chrome, Edge, and Safari */
/*ul.listing_style1 {
    scrollbar-width: auto;
    scrollbar-color: #7F7F7F #fff;
}

ul.listing_style1::-webkit-scrollbar {
    width: 4px;
}

ul.listing_style1::-webkit-scrollbar-track {
    background: #E8E8E8;
    border-radius: 16px;
}

ul.listing_style1::-webkit-scrollbar-thumb {
    background-color: #7F7F7F;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}*/

ul.listing_style1 li {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    border: 1px dashed #E6E6E6;
    box-shadow: var(--list_shadow_init);
    padding: 15px;
    align-items: center;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 25px 15px 0;
}

ul.listing_style1.have_a_tag li {
    display: block;
}

ul.listing_style1.have_a_tag li a {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

ul.listing_style1 li:hover, ul.listing_style1 li.active {
    box-shadow: var(--list_shadow_hover);
    border: 1px solid var(--primary_color);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.service_active {
    box-shadow: var(--list_shadow_hover) !important;
    border: 1px solid var(--primary_color) !important;
    border-radius: 18px !important;
    -webkit-border-radius: 18px !important;
    -moz-border-radius: 18px !important;
    -ms-border-radius: 18px !important;
    -o-border-radius: 18px !important;
}

ul.listing_style1 li i {
    display: inline-flex;
    width: 54px;
    height: 54px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #F4F4F4;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

ul.listing_style1 li[status] i:after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 0;
    right: -3px;
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

ul.listing_style1 li>div,
ul.listing_style1.have_a_tag li>a>div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

ul.listing_style1 li b {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    width: calc(100% - 74px);
    width: -o-calc(100% - 74px);
    width: -moz-calc(100% - 74px);
    width: -webkit-calc(100% - 74px);
}

ul.listing_style1 li b small {
    color: #707070;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: block;
}

ul.listing_style1 li i img {
    width: 35px;
}

ul.listing_style1 li strong {
    font-size: 24px;
    font-weight: 600;
}

/******************/
ul.listing_style1.two_column {
    display: flex;
    flex-wrap: wrap;
}

ul.listing_style1.two_column b {
    display: block;
}

ul.listing_style1.two_column small {
    color: #707070;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: block;
}

ul.listing_style1.two_column li {
    flex-grow: 1;
    width: calc(50% - 20px);
    width: -o-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: -webkit-calc(50% - 20px);
}

ul.listing_style1 li[status="all"], ul.listing_style1 li[status="all"]:hover, ul.listing_style1 li[status="all"].active {
    border-color: var(--gray_color);
}

ul.listing_style1 li[status="available"], ul.listing_style1 li[status="available"]:hover, ul.listing_style1 li[status="available"].active {
    border-color: var(--green_color);
}

ul.listing_style1 li[status="pickup"], ul.listing_style1 li[status="pickup"]:hover, ul.listing_style1 li[status="pickup"].active {
    border-color: var(--Yellow_color);
}

ul.listing_style1 li[status="arrived"], ul.listing_style1 li[status="arrived"]:hover, ul.listing_style1 li[status="arrived"].active {
    border-color: var(--royal_blue_color);
}

ul.listing_style1 li[status="ongoing"], ul.listing_style1 li[status="ongoing"]:hover, ul.listing_style1 li[status="ongoing"].active {
    border-color: var(--orange-color);
}


ul.listing_style1 li[status="all"]:hover, ul.listing_style1 li[status="all"].active {
    box-shadow: 0 0 4px 0 var(--gray_color) inset;
}
ul.listing_style1 li[status="available"]:hover, ul.listing_style1 li[status="available"].active {
    box-shadow: 0 0 4px 0 var(--green_color) inset;
}
ul.listing_style1 li[status="pickup"]:hover, ul.listing_style1 li[status="pickup"].active {
    box-shadow: 0 0 4px 0 var(--Yellow_color) inset;
}
ul.listing_style1 li[status="arrived"]:hover, ul.listing_style1 li[status="arrived"].active {
    box-shadow: 0 0 4px 0 var(--royal_blue_color) inset;
}
ul.listing_style1 li[status="ongoing"]:hover, ul.listing_style1 li[status="ongoing"].active {
    box-shadow: 0 0 4px 0 var(--orange-color) inset;
}


ul.listing_style1 li[status="all"] i:after {
    background-color: var(--gray_color);
}
ul.listing_style1 li[status="available"] i:after {
    background-color: var(--green_color);
}
ul.listing_style1 li[status="pickup"] i:after {
    background-color: var(--Yellow_color);
}
ul.listing_style1 li[status="arrived"] i:after {
    background-color: var(--royal_blue_color);
}
ul.listing_style1 li[status="ongoing"] i:after {
    background-color: var(--orange-color);
}



/*************** list componant end *******************/
.provider_search {
    margin: 20px -24px;
    position: relative;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.provider_search:before {
    content: "\f0d1";
    position: absolute;
    left: 20px;
    top: 49%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-family: 'remixicon';
    font-size: 26px;
    color: #7e7e7e;
}

.provider_search input#search-provider {
    padding: 15px 15px 15px 55px;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    width: 100%;
    outline: none;
}

.overlay-map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    cursor: not-allowed;
    display: none;
}

.overlay-map-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.overlay-map-content span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 10px;
  animation: loading-map 1s infinite ease-in-out;
}

.overlay-map-content span:nth-child(2) {
  animation-delay: 0.2s;
}

.overlay-map-content span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loading-map {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.no-providers {
    font-size: 18px;
    text-align: center;
    display: none;
}

.provider-list-item {
    cursor: pointer;
}

.status_button, .status_button:hover {
    font-size: 12px;
    font-weight: normal;
    padding: 3px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.status_button[status="all"] {
    background-color: var(--gray_color);
}
.status_button[status="available"] {
    background-color: var(--green_color);
}
.status_button[status="pickup"], .status_button[status="pickup"]:hover {
    background-color: var(--Yellow_color);
    color: #000000;
}
.status_button[status="arrived"] {
    background-color: var(--royal_blue_color);
}
.status_button[status="ongoing"] {
    background-color: var(--orange-color);
}

.status-content {
    display: block !important;
    text-align: right;
}

.vehicle-details {
    margin-top: 10px;
    font-size: 12px;
    line-height: 15px;
}

.vehicle-details span {
    font-weight: bold;
}

.fullscreen-toggle {
    font-size: 25px;
    line-height: 25px;
    cursor: pointer;
}

.infowindow-live-track-btn {
    background-color: var(--primary_color);
    color: #ffffff !important;
    padding: 5px 10px;
    border-radius: 5px;
}

.admin_card_row.god_view .provider-count {
    margin-bottom: 10px;
    display: none;
}

.map-vehicle-icon {
    display: none;
}

.gm-style iframe + div { 
    border:none!important; 
}

@media (max-width:1366px) {
    .admin_card_row.god_view.five_box {
        grid-template-columns: repeat(5, 78px);
        gap: 7px;
    }
    .admin_card_row.god_view li {
        min-width: 78px;
        gap: 10px;
    }
    .provider_search input#search-provider {
        padding: 8px 15px 8px 55px;
        font-size: 16px;
    }
    .provider_search:before {
        font-size: 22px;
    }
    .provider_search {
        margin: 15px -24px;
    }
    ul.listing_style1 li {
        padding: 10px;
        border-radius: 8px;
    }
    ul.listing_style1 li i {
        width: 45px;
        height: 45px;
    }
    ul.listing_style1 li b {
        font-size: 16px;
        width: calc(100% - 65px);
        width: -o-calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    .overlay-map-helper .card_body {
        padding: 20px;
    }
    .mCSB_scrollTools .mCSB_draggerContainer {
        right: -3px;
    }
    ul.listing_style1 li:hover, ul.listing_style1 li.active {
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    .overlay-map-helper .card_body{
        max-width: 458px;
    }
}